.input {
  background: #bdbdbdfa;
  padding: 14px 40px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
}
.input:focus {
  outline: none;
}

.button {
  background: rgba(0, 255, 0, 0.7);
  outline: none;
  padding: 13px 15px;
  border-radius: 5px;
  margin-left: 2px;
}
